#title {
  background-color: #005FB8;
  color: #fff;
}

#bottom-container{
  background-color: white;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

.top-row {
  padding: 1rem 25% 1rem;
}


/*Step 1 Image*/
.stepOne-image {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrld_Icon{
  width: 85px;
  height: 75px;
  float: left;
}

.arrow_Icon{
  width: 65px;
  height: 75px;
  float: right;
  display: inline-block;
}

.accordionArrow{
  width: 25px;
  height: 35px;
}

.htext {
  color: green;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}


.square-box {
  max-width: 600px;
  min-height: 600px;
  border: 1px #333;
}

.S1 {
  position: fixed;
  margin-left: 5%;
  margin-top: 5%;
}
.S2 {
  position: fixed;
  margin-left: 20%;
  margin-top: 25%;
}
.S3 {
  position: fixed;
  margin-left: 30%;
  margin-top: 5%;
}
.S4 {
  position: fixed;
  margin-left: 43%;
  margin-top: 25%;
}
.S5 {
  position: fixed;
  margin-left: 55%;
  margin-top: 5%;
}
.S6 {
  position: fixed;
  margin-left: 65%;
  margin-top: 25%;
}
.S7 {
  position: fixed;
  margin-left: 76%;
  margin-top: 5%;
}

.accordion {
  margin: 1rem 1rem 1rem;
}
